<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Segfault - Easiest Flask web hosting</title>
  </head>
  <body>
    <h1>Segfault - Easy Flask web hosting</h1>

    <p>Quickly host your flask web project.<p>

    <p>Useful if you're learning full stack development</p>

    <p>Simply paste your git http repo address here, and we'll build your site:</p>
    <form action="#" method="POST">
      Repo: <input name="repo" required placeholder="https://github.com/chrisjsimpson/flask-quickstart" />

      <p>Don't have a project yet? Fork this one to start: https://github.com/chrisjsimpson/flask-quickstart</p>

      <br /><br />
      <input type="submit" value="Host my project now!" id="go" />
    </form>
  <script>
    document.getElementById('go').addEventListener('click', function(e) {
      e.target.value="Please wait...";
      e.target.disabled = 'True'
      document.forms[0].submit()
    });
  </script>
  </body>
</html>
