<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Segfault - Easiest Flask web hosting</title>
  </head>
  <body>
    <h1>Segfault - Easy Flask web hosting</h1>

    <p>Quickly host your flask web project<p>

    <p>Useful if you're learning full stack development</p>

    <p>Create a public git repo and paste its address here:</p>
    <form action="#" method="POST">
      Repo: <input name="repo" required />

      <br /><br />
      <input type="submit" value="Host my project" id="go" />
    </form>
  <script>
    document.getElementById('go').addEventListener('click', function(e) {
      e.target.value="Please wait...";
      e.target.disabled = 'True'
      document.forms[0].submit()
    });
  </script>
  </body>
</html>
